{% for link in linklists.main-menu.links %}
<a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>
  {{ link.title | escape }}
</a>
{% endfor %}

<button type="button" x-data @click="$store.cart.toggleMinicart()">
  Minicart
</button>
