@import 'vars';
@import 'mixins';

.shopify-section-main-collection {
  &-inner {
    padding: 15px;

    @include sm {
      padding: 90px 90px;
    }

    .product-grid {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .pagination-nav {
      margin-top: 40px;

      .pagination {
        display: flex;
        gap: 10px;
        margin: auto;
        max-width: max-content; 
      }
    }
  }
}
